/*all styles for the media queries example*/

body {
  /*center it*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;

  /*visual quality*/
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 768px) and (min-width: 325px) and (orientation: portrait) {
  body {
    color: blue;
    font-weight: bold;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }
  nav {
    display: none;
  }
}

@media screen and (hover: none) {
}
